<div class="page-header" id="header-assignments">
  <div class="left-header">
    <h1>Assignments</h1>
  </div>
  <div class="right-header">
    <div class="name">New Test Case</div>
  </div>
</div>
<form action="caseCreate" method="post" id="caseCreate" class="sign-form settings">
  <div>
    <!-- inputs will be placed here -->
  </div>
  <button type="button" class="btn btn-lg btn-primary btn-block" onclick="addRow()">Add Row</button>
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create tests" />
</form>
