<div class="page-header">
  <h1>New Section</h1>
</div>
<form action="/teacher/section/create" method="post">
  <input type="text" class="form-control" placeholder="Name" required autofocus />
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create" />
</form>
</div>