<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2014 Training. All rights reserved. -->
 
<div class="page-header">
  <h1><%= type.charAt(0).toUpperCase() + type.slice(1) %> Not Found</h1>
</div>
Sorry. The requested <%= type %> could not be found.
