.buttons {
  padding-bottom: 15px;
}
.drag-zone {
  border: 4px dashed grey;
  border-radius: 5px;
  height: 150px;
  width: 75%;
}

.message {
  text-align: center;
  line-height: 140px;
  font-size: 20px;
}
