.page-header h1 {
  margin: 0;
  display: inline;
}
.page-header a {
  float: right;
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../images/plus-32.png");
}
.page-header a:hover {
  background-image: url("../images/plus-32-blue.png");
}
.main form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.main form .form-control {
  margin-bottom: 10px;
}
.main form textarea {
  resize: vertical;
}
.main form label {
  font-weight: normal;
}
.main form label input[type="checkbox"] {
  margin-right: 5px;
}
.main form input[type="submit"] {
  margin-top: 15px;
}
.error {
  color: #D00;
  margin-bottom: 4px;
}
ul.section-list {
  list-style-type: none;
  margin-top: 5px;
}