body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: left;
}
h1 {
  margin-bottom: 25px;
}
dt {
  font-weight: 500;
  font-size: 28px;
  margin-top: 15px;
}
dd {
  
}
.fa:hover {
  color: #428bca;
  cursor: pointer;
}
#bottom {
  font-size: 21px;
}
