<% if (typeof rows == 'undefined'){ %>
<!-- Need to implement a way of getting section name not related to rows-->
<h1> Some kind of Error has happened</h1>
<% } else { %>
<div class="page-header">
  <h1> <%= rows[0].name %> </h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <% if(rows.length == 0) { %>
        <tr>
          <td colspan="3">Some Error has occured/td>
        </tr>
    <% } else { %>
      <thead>
        <tr>
          <th>Description</th>
          <th>Due</th>
          <th>Done</th>
        </tr>
      </thead>
      <tbody>
              <tr>
                <td><%= rows[0].description%></td>
                <td><%= rows[0].due%></td>
              </tr>
      </tbody>
    </table>
  <!--
    <form action="/student/assignment/<%= rows[0].id %>/submit" method="post" enctype="multipart/form-data" class="dropzone" id="drop">
          <input type="file" name="fileUpload" id="file-selection" required autofocus multiple/>
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
              Just drag and drop files here
          </div>
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit Assignment" />
    </form> -->

    <div class="col-lg-7 tester" id="actions">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button dz-clickable">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
        </span>
        <button type="submit" class="btn btn-primary start">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel upload</span>
        </button>
    </div>

  <!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
      <div class="table table-striped" class="files" id="previews">

        <div id="template" class="file-row">
          <!-- This is used as the file preview template -->
          <div>
              <span class="preview"><img data-dz-thumbnail /></span>
          </div>
          <div>
              <p class="name" data-dz-name></p>
              <strong class="error text-danger" data-dz-errormessage></strong>
          </div>
          <div>
              <p class="size" data-dz-size></p>
              <div class="progress progress-striped active" role="progressbar" id="total-progress"aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
              </div>
          </div>
          <div>
            <button class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            <button data-dz-remove class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            <button data-dz-remove class="btn btn-danger delete">
              <i class="glyphicon glyphicon-trash"></i>
              <span>Delete</span>
            </button>
          </div>
        </div>

      </div>

    <script src="/javascripts/dropzone.js"></script>
    <script type="text/javascript" src="/javascripts/studentSubmit.js"></script>
    <% } %>
</div>
<% } %>
