<% if (typeof rows == 'undefined'){ %>
<!-- Need to implement a way of getting section name not related to rows-->
<h1> Some kind of Error has happened</h1>
<% } else { %>
<div class="page-header">
  <h1> <%= rows[0].name %> </h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <% if(rows.length == 0) { %>
        <tr>
          <td colspan="3">Some Error has occured/td>
        </tr>
    <% } else { %>
      <thead>
        <tr>
          <th>Description</th>
          <th>Due</th>
          <th>Done</th>
        </tr>
      </thead>
      <tbody>
              <tr>
                <td><%= rows[0].description%></td>
                <td><%= rows[0].due%></td>
              </tr>
      </tbody>
    </table>

    <form action="/student/assignment/<%= rows[0].id %>/submit" method="post" enctype="multipart/form-data" class="dropzone" id="my-dropzone">
          <input type="file" name="fileUpload" id="file-selection" required autofocus multiple/>
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
              Just drag and drop files here
          </div>
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit Assignment" />
    </form>

    <!-- <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong> <small>Bootstrap files upload</small></div>
        <div class="panel-body">

          <!-- Standar Form
          <h4>Select files from your computer</h4>
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
            </div>
          </form>

          <!-- Drop Zone
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>

          <!-- Progress Bar
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>

          <!-- Upload Finished
          <div class="js-upload-finished">
            <h3>Processed files</h3>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container

    <script type="text/javascript" data-main="/javascripts/studentSubmit" src="/javascripts/require.js"></script>
-->

    <% } %>
</div>
<% } %>
