<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->

<div class="page-header" id="header-assignments">
  <div class="left-header">
    <h1>Assignments</h1>
  </div>
  <div class="right-header">
    <div class="name"><%= assignment.name %></div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><%- assignment.description ? assignment.description : '<em>None</em>' %></td>
        <td><strong>Due:</strong> <%= strftime('%m-%d-%y', new Date(assignment.due)); %></td>
        <td class="status status-<%= Date.now() > assignment.due ? 'late' : 'notsubmitted' %>">&nbsp;</td>
      </tr>
    </tbody>
    </table>
</div>
<div class="col-lg-7 tester" id="actions">
  <!-- The fileinput-button span is used to style the file input field as button -->
  <div class="buttons">
    <!--<span class="btn btn-success fileinput-button dz-clickable">
      <span class="fa fa-plus-circle"></span>
      <span>Add files</span>
    </span>-->
    <button type="submit" class="btn btn-primary start">
      <span class="fa fa-upload"></span>
      <span>Submit</span>
    </button>
  </div>
  <div class="row drag-zone dz-clickable">
    <div class="outer">
      <div class="inner">
        <img src="/images/plus.svg" alt="+" class="plus" />
      </div>
    </div>
    <div class="message">Click to add files or drag and drop.</div>
  </div>
</div>

<!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
<div class="col-md-7 table table-striped" class="files" id="previews">

  <h3>Selected Files</h3>

  <div class="file-row">
    <!-- This is used as the file preview template -->
    <div>
      <span class="preview"><img data-dz-thumbnail /></span>
    </div>
    <div>
      <p class="name" data-dz-name></p>
      <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div>
      <p class="size" data-dz-size></p>
      <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
      </div>
    </div>

    <div>
      <button data-dz-remove class="btn btn-warning cancel">
        <span class="fa fa-ban"></span>
        <span>Cancel</span>
      </button>
    </div>

  </div>

</div>

