<form class="form-signin" role="form" action="#" method="POST">
  <h2 class="form-signin-heading">Feedback</h2>
  <div class="report-type">
    <label>What are you reporting?</label>
    <label><input type="radio" name="type" value="question" required>Question</label>
    <label><input type="radio" name="type" value="comment">Comment</label>
    <label><input type="radio" name="type" value="complaint">Complaint</label>
    <label><input type="radio" name="type" value="other">Other</label>
  </div>
  <textarea class="form-control" rows="4" name="feedback" placeholder="What would you like to tell us?" required></textarea>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>