<div class="page-header">
  <h1>New Section</h1>
</div>
<form action="/student/section/joinSection" method="post">
  <!-- todo support errors -->
  <input type="text" class="form-control" placeholder="Section ID" name="sectionID" required autofocus />
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create" />
</form>
</div>
