<div class="page-header">
  <h1>Sections</h1>
  <a href="section/joinSection"></a>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Students</th>
        <th>Last Assignment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">Period 1</a></td>
        <td>23</td>
        <td><a href="#">Picture Lab</a></td>
      </tr>
      <tr>
        <td><a href="#">Period 3</a></td>
        <td>15</td>
        <td><a href="#">High Low Game</a></td>
      </tr>
    </tbody>
  </table>
</div>
