<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->
 
<div class="page-header">
  <h1>Classes</h1>
  <a href="/student/section/joinSection" class="right plus-button"><span class="glyphicon glyphicon-plus-sign glyph-button" data-toggle="tooltip" data-placement="left" title="Join Section"></span></a>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Class</th>
        <th>Teacher</th>
      </tr>
    </thead>
    <tbody>
    <% if(rows.length == 0) { %>
        <tr>
          <td colspan="3">You have no classes... Lame</td>
        </tr>
      <% } else {
          for(i in rows) {%>
            <tr>
              <td><a href="/student/section/<%= rows[i].id %>"><%= rows[i].name %></a></td>
              <td><%= rows[i].lname + ', ' + rows[i].fname %></td>
            </tr>
       <% }
       } %>
    </tbody>
  </table>
</div>
