<div class="page-header">
  <h1> Sections </h1>
  <a href="section/joinSection"></a>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Section</th>
        <th>Teacher</th>
      </tr>
    </thead>
    <tbody>
    <% if(rows.length == 0) { %>
        <tr>
          <td colspan="3">You have no sections!</td>
        </tr>
      <% } else {
          for(i in rows) {%>
            <tr>
              <td><%= rows[i].name %></a></td>
              <td><%= rows[i].lname + ', ' + rows[i].fname %></td>
            </tr>
       <% }
       } %>
    </tbody>
  </table>
</div>
