<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Frequently Asked Questions | jGrader</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/faq.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="starter-template.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">jGrader</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Frequently Asked Questions</h1>
        <dl class="lead">
          <dt>How much does jGrader cost? <span class="fa fa-plus-square"></span></dt>
          <dd>jGrader is currently free for use until August 1, 2015. After this, it will be $3 per student per year.</dd>
          <dt>What programming languages are supported? <span class="fa fa-plus-square"></span></dt>
          <dd>Currently only Java is supported, as this is the only language tested on the CollegeBoard's AP Computer Science exam. If you have a strong need for another language, please <a href="mailto:contact@jgrader.com" target="_blank">contact us</a>.</dd>
          <dt>Has this system been tested within a real classroom setting? <span class="fa fa-plus-square"></span></dt>
          <dd>jGrader underwent an alpha stage within the AP Computer Science class at Byram Hills High School during the 2014-2015 school year. As we approach the end of this school year, we are opening the website up for general use.</dd>
          <dt>Why don't you have feature X? <span class="fa fa-plus-square"></span></dt>
          <dd>Probably because we haven't thought of it. We are still new and are very open to new ideas. Please <a href="mailto:contact@jgrader.com" target="_blank">tell us more</a>!</dd>
          <dd>I'm not sure if jGrader is right for me.</dd>
          <dt>TODO</dt>
        </dl>
        <div id="bottom">
          Still have questions? Feel free to contact us: <a href="mailto:contact@jgrader.com" target="_blank">contact@jgrader.com</a>.
        </div>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/faq.js"></script>
  </body>
</html>

