<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->
 
<div class="page-header" id="header-other">
  <div class="left-header">
    <h1>Feedback</h1>
  </div>
</div>
<form class="form" role="form" action="#" method="POST">
  <div class="report-type">
    <h3>What are you reporting?</h3>
    <div class="iama">
      <label><input type="radio" name="type" value="question" required>Question</label>
      <label><input type="radio" name="type" value="comment">Comment</label>
      <label><input type="radio" name="type" value="complaint">Complaint</label>
      <label><input type="radio" name="type" value="other">Other</label>
    </div>
  </div>
  <textarea class="form-control" rows="4" name="feedback" placeholder="What would you like to tell us?" required></textarea>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
