<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="/favicon.ico">

    <title>jGrader</title>

    <link href="/stylesheets/reset.css" rel="stylesheet">
    <link href="/stylesheets/landing.css" rel="stylesheet">
  </head>

  <body>
    <form action="/sign-in" method="post">

      <div class="nav">

        <div class="column left">
          <a href="#">jGrader</a>
        </div>

        <div class="column right">
          <a href="#home" id="link-home">Home</a>
          <a href="#learn" id="link-learn">Learn</a>
          <a href="/sign-in" id="link-sign-in">Sign In</a>
        </div>

      </div>

      <div class="page-container">

        <div class="page" id="home">

          <div class="column left">
            <div class="table-wrapper">
              <span><span>j</span>Grader*</span>
            </div>
          </div>

          <div class="column right">
            <ul class="table-wrapper">
              <li><div><h2>Sign In</h2></div></li>
              <li><div>
                <label>
                  User Name
                  <input type="text" name="email" />
                </label>
                <label>
                  Password
                  <input type="password" name="password" />
                </label>
                <input type="submit" />
              </div></li>
              <li><div><h2>Sign Up</h2></div></li>
              <li><div><a href="/sign-up">Register</a></div></li>
            </ul>
          </div>

        </div>

        <div class="page" id="learn">

          <h2><span>*</span> What is jGrader?</h2>

          <div class="info-body">

            <div class="row-top">
              <div class="col-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas erat ac pellentesque vulputate. Ut feugiat, sem eget semper ultrices, magna ex iaculis enim, quis vestibulum ligula sapien eget arcu. Integer vel suscipit mauris. Suspendisse sodales lorem justo, vitae interdum lacus finibus eget. Mauris id odio diam. Sed fringilla iaculis luctus. Aenean pharetra facilisis magna id facilisis.</div>
              <div class="col-right">Sed tincidunt justo placerat, ultricies nisl non, imperdiet ipsum. Integer luctus vitae sem a interdum. Proin feugiat libero eu est vehicula maximus. Morbi sollicitudin ex eu placerat eleifend. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas pretium suscipit nunc, sed sagittis leo pulvinar vitae. Maecenas vitae nisl velit.</div>
            </div>

            <div class="row-mid">
              <div class="col-left">Donec accumsan, augue sit amet pretium eleifend, magna nisi rutrum mi, vitae lacinia dui tortor eget risus. Aenean eleifend maximus sodales. Vestibulum consectetur ac purus ac accumsan. Duis a euismod nibh, quis varius purus. Sed at augue elit. Integer vel elementum magna, non vulputate lorem. Sed hendrerit tristique fermentum. Etiam congue elit non viverra maximus.</div>
              <div class="col-mid"><img src="/images/star.png" width="273" height="273" alt="Star" /></div>
              <div class="col-right">Duis aliquet vitae tortor at molestie. Integer vel ex non dolor molestie bibendum vel quis tortor. Aliquam sagittis nisi at risus convallis, eget venenatis mi fermentum. Nam vel dictum dolor. Nunc sed placerat justo. Nunc lacus mi, mollis id mi condimentum, molestie tristique dolor. Curabitur a ullamcorper ligula. Mauris magna diam, eleifend sit amet felis ac.</div>
            </div>

            <div class="row-bot">
              <div class="col-left">In vehicula mauris ac risus ullamcorper iaculis. Donec convallis id ex vitae ultricies. Quisque quis tristique turpis, non porttitor turpis. Sed suscipit elit eget libero feugiat posuere non vitae risus. Pellentesque ac suscipit diam, sed venenatis turpis. Ut lobortis nisl quis libero dictum tempor. Donec a nibh hendrerit, suscipit tortor ut, maximus dui. </div>
              <div class="col-right">Donec sagittis malesuada dictum. Praesent eu mauris ut ipsum pretium interdum eget non dolor. Pellentesque sed faucibus risus. Sed eu pulvinar leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc molestie augue quis nulla elementum, id vehicula arcu cursus. Cum sociis natoque penatibus et magnis dis parturient montes.</div>
            </div>

          </div>

        </div>

      </div>

    </form>
  </body>
</html>
