<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="/favicon.ico">

    <title>jGrader</title>

    <link href="/stylesheets/reset.css" rel="stylesheet">
    <link href="/stylesheets/landing.css" rel="stylesheet">

  </head>

  <body>
    <form action="/sign-in" method="post">

      <div class="nav">

        <div class="column left">
          <a href="#">jGrader</a>
        </div>

        <div class="column right">
          <a href="#home" id="link-home">Home</a>
          <a href="#learn" id="link-learn">Learn</a>
          <a href="/sign-in" id="link-sign-in">Sign In</a>
        </div>

      </div>

      <div class="page-container">

        <div class="page" id="home">

          <div class="column left">
            <div class="table-wrapper">
              <span><span>j</span>Grader*</span>
            </div>
          </div>

          <div class="column right">
            <ul class="table-wrapper">
              <li><div><h2>Sign In</h2></div></li>
              <li><div>
                <label>
                  User Name
                  <input type="text" name="email" />
                </label>
                <label>
                  Password
                  <input type="password" name="password" />
                </label>
                <input type="submit" class="button" />
              </div></li>
              <li><div><h2>Sign Up</h2></div></li>
              <li><div><a href="/sign-up" class="button">Register</a></div></li>
            </ul>
          </div>

        </div>

        <div class="page" id="learn">

          <h2><span>*</span> What is jGrader?</h2>

          <div class="info-body">

            <div class="row row-top">
              <div class="col col-left">
                <h3>About</h3>
                jGrader is a cloud based grading system designed for a high school AP Computer Science program.
                jGrader's architecture is built specifically in mind for the AP Computer Science classroom.
                By having a cloud-based grading system, jGrader allows the teacher to easily collect, grade, and provide feedback on assignments.
                Additionally, teachers can execute code submitted by their students <em>directly</em> in their browsers.
                It's easy to use and allows teachers to focus on what they do best - teach!
              </div>
              <div class="col col-right">
                <h3>History</h3>
                jGrader was started by Brian Singer and Greg Carlin, two teaching assistants in an AP Computer Science classroom in Armonk, New York.
                The idea originated from the computer science teacher at the local high school, who was tired of tediousness he dealt with when grading assignments.
                Now, jGrader can help you too focus on your students' success.
              </div>
            </div>

            <div class="row row-mid">
              <div class="col col-left">
                <h3>Autograding</h3>
                Automatically run students' code against test cases.
                Automatically assign a grade, or wait for teacher review.
                Teachers can choose to show students the results of their test cases or keep them hidden.
                Autograding is flexible, powerful, and does the busy work for you.
                <em>This feature is planned for 2015.</em>
              </div>
              <div class="col col-mid"><img src="/images/star.png" width="273" height="273" alt="Star" /></div>
              <div class="col col-right">
                <h3>Anti-Plagiarism</h3>
                Ensure that students are not copying each other or getting their solutions online.
                Utilizes algorithms specifically designed for reviewing Java code in an AP Computer Science setting.
                Optional integration with autograding for custom grade penalties.
                <em>This feature is planned for 2015.</em>
              </div>
            </div>

            <div class="row row-bot">
              <div class="col col-left">
                <h3>Commenting</h3>
                Tell students how they can improve.
                Comment on sections of their code, and provide suggestions that will help them get a 5 on the AP exam.
                Also supports comments left by teaching assistants and peers, as determined by the teacher.
                <em>This feature is planned for 2015.</em>
              </div>
              <div class="col col-right">
                <h3>Teaching Assistants</h3>
                Set up teaching assistants to help out in class.
                Hire virtual assistants, or give access to ones already in the classroom.
                If given permission, assistants can comment on students' code as well as grade assignments.
                <em>This feature is planned for 2015.</em>
              </div>
            </div>

          </div>

        </div>

      </div>

    </form>
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/landing.js"></script>
  </body>
</html>
