<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->
 
<div class="page-header" id="header-other">
  <div class="left-header">
    <h1>Settings</h1>
  </div>
</div>
<% if(typeof msg != 'undefined') { %>
  <div class="alert alert-success">
    <%= msg %>
  </div>
<% } %>
<form class="settings sign-form" method="post" action="#">
  <div class="name">
    <label for="fname">First Name</label>
    <input type="text" name="fname" class="form-control" value="<%= fname %>" id="fname" />
    <label for="lname">Last Name</label>
    <input type="text" name="lname" class="form-control" value="<%= lname %>" id="lname" />
  </div>
  <div>
    <% if(!shouldReset) { %>
      <label for="oldpass">Old Password</label>
      <input type="password" name="oldpass" class="form-control" id="oldpass" />
    <% } %>
    <label for="newpass">New Password</label>
    <input type="password" name="newpass" class="form-control" id="newpass" />
  </div>
  <input type="submit" class="btn btn-primary btn-block" value="Save" />
</form>
