/* taken from http://stackoverflow.com/a/5526972/720889 */
/* anyone can read within current working dir */
grant {
  permission java.io.FilePermission "${user.dir}", "read,write,execute";
};
